<section class="card">
  <article class="card-body">
    <h2 class="card-title d-flex justify-content-between">
      <span>Projects</span>
      <%= link_to 'New Project' , new_project_path, class: "btn btn-primary" %>
    </h2>
    <%= render(ProjectOverviewComponent.with_collection(@projects)) %>
  </article>
</section>