.project-card {
  transition: background-color 0.5s ease;
  &:hover {
    background-color: #f7f7f7;
  }
}

#task-list {
  list-style: none;
  padding-left: 0;
}

.task-items {
  .grip {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}
